#include <behaviors/unicode.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NUMBERS 1
#define SYMBOLS 2
#define SYSTEM 3
#define EXTRA 4

&uc { default-mode = <UC_MODE_LINUX>; };
&lt { quick-tap-ms = <150>; };

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>; /* tune to taste */
            hold-trigger-key-positions = <36 37 38 39 41 40 30 18 6 7 19 31 20 8 32 33 21 9 10 34 22>;
            hold-trigger-on-release;
            label = "HML";
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <36 37 38 39 41 40 5 17 29 28 16 4 3 27 15 2 14 26 25 13 1>;
            hold-trigger-on-release;
            label = "HMR";
        };

        parenthesis: parenthesis {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;

            label = "PARENTHESIS";
        };

        brackets: brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        braces: braces {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACES";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <20 15>;
        };

        vimfind {
            bindings = <&kp KP_DIVIDE>;
            key-positions = <16 19>;
        };

        ao {
            bindings = <&uc UC_SV_AO>;
            key-positions = <21 13>;
        };

        oe {
            bindings = <&uc UC_SV_OE>;
            key-positions = <21 14>;
        };

        ae {
            bindings = <&uc UC_SV_AE>;
            key-positions = <21 15>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
&none  &kp COLON           &kp COMMA           &kp PERIOD       &kp P              &kp Y           &kp F        &kp G              &kp C                &kp R            &kp L            &none
&none  &hml LEFT_GUI 0  &hml LEFT_ALT 0  &hml LCTRL 0  &hml LEFT_SHIFT U  &kp I           &kp D        &hmr LEFT_SHIFT H  &hmr LEFT_CONTROL T  &hmr LEFT_ALT N  &hmr LEFT_WIN S  &none
&none  &kp SINGLE_QUOTE    &kp Q               &kp J            &kp K              &kp X           &kp B        &kp M              &kp W                &kp V            &kp Z            &none
                                               &kp ESCAPE       &lt 1 BACKSPACE    &lt 3 DELETE    &lt 3 ENTER  &lt 2 SPACE        &kp TAB
            >;
        };

        NUMBERS {
            display-name = "NavNum";
            bindings = <
&trans  &none  &none  &none  &none   &none    &none  &kp N7  &kp N8  &kp N9  &none  &trans
&trans  &none  &none  &none  &none   &none    &none  &kp N4  &kp N5  &kp N6  &none  &trans
&trans  &none  &none  &none  &none   &none    &none  &kp N1  &kp N2  &kp N3  &none  &trans
                      &none  &trans  &none    &none  &kp N0  &none
            >;
        };

        SYMBOLS {
            display-name = "Symbols";
            bindings = <
&trans  &kp SEMI   &kp AT          &brackets       &kp SLASH        &kp TILDE    &kp AMPS    &kp QUESTION  &kp POUND  &kp PIPE       &kp PLUS  &trans
&trans  &kp GRAVE  &kp MINUS       &parenthesis    &braces          &kp EQUAL    &kp EXCL    &kp PERCENT   &kp EXCL   &kp SLASH      &kp STAR  &trans
&trans  &none      &kp UNDERSCORE  &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp CARET    &kp DOLLAR  &kp UP_ARROW  &kp DOWN   &kp BACKSLASH  &none     &trans
                                   &none           &none            &none        &none       &trans        &none
            >;
        };

        SYSTEM {
            display-name = "System";
            bindings = <
&trans  &none         &none         &none         &none         &none             &none           &none  &none  &none  &none        &trans
&trans  &bootloader   &none         &out OUT_BLE  &out OUT_USB  &studio_unlock    &studio_unlock  &none  &none  &none  &bootloader  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR    &bt BT_CLR_ALL    &none           &none  &none  &none  &none        &trans
                                    &none         &none         &trans            &trans          &none  &none
            >;
        };

        EXTRA {
            display-name = "Extra";
            bindings = <
&trans  &trans  &trans          &trans          &trans           &msc SCRL_UP      &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans          &mmv MOVE_UP    &trans           &msc SCRL_DOWN    &trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans            &trans  &trans     &trans     &trans  &trans  &trans
                                &trans          &trans           &trans            &trans  &trans     &trans
            >;
        };
    };
};
